.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-background {
  background-image: url('./Assets/mountains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.App-body {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
}

.App-footer {
  background-color: #575c69;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  text-align: left;
}

.ToDo-list-img {
  margin: 10px
}

.ToDo-list-checkbox {
  margin-right: 10px
}

.Jokes-leader {
  color: gold
}

.Hello {
  margin: 25px;
  color: lightblue
}

.Link {
  display: inline;
  color: rgb(105, 195, 224);
  margin: 0px 20px 0px 20px;
}

.Jokes-container {
  margin: 50px
}

.rowC {
  display:flex;
  flex-direction: row
}

.layer {
  background-color: rgba(129, 131, 141, 0.8);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}